@{
    ViewData["Title"] = "Lista Alumnos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alumnos">
        @foreach(Alumno alumno in ViewBag.Alumnos){
        }
    </div>
</div>
